<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--扫描Controller-->
    <context:component-scan base-package="com.jzk.simple.bus.controller"/>
    <context:component-scan base-package="com.jzk.simple.sys.controller"/>

    <!--配置映射器和适配器-->
    <mvc:annotation-driven></mvc:annotation-driven>

    <!--配置前视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--注入前后缀-->
        <property name="prefix" value="/WEB-INF/view/"></property>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--配置springMvc对文件上传支持-->
    <bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--设置文件名编码-->
        <property name="defaultEncoding" value="UTF-8"></property>
        <!--配置上传文件的支持大小-->
        <property name="maxUploadSize" value="20971520"></property>
        <!--配置上传目录-->
        <property name="uploadTempDir" value="upload/temp"></property>
    </bean>
    <mvc:default-servlet-handler/>
</beans>